body {
  display: flex;
	flex-direction: column;
}

header {
	background-color: #1F2937;
}

nav {
  display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.logo {
	height: 75px;
	width: 75px;
}

.nav-links {
	display: flex;
	gap: 20px;
	color: #E5E7EB;
	padding: 15px;
}

.section1 {
	background-color: #1F2937;
	color: #E5E7EB;
	border: solid red;
	align-items: center;
}

.section1-left {
	width: 300px;
}

.section1-img {
	width: 300px;
}